body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F2E635;
}

* {
    font-family: 'Roboto Mono', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Header */

.header {
    margin-bottom: 2rem;
}

.header h1 {
    text-align: end;
    font-size: 3rem;
    margin: 0;
    padding: 1rem 1rem 1rem;
}

/* Main content */
.main {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 4rem;
}

/* Grid */

#grid {
    display: grid;
    flex: 0 0 auto;
    width: 640px;
    height: 640px;
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem #262626;
}

.cell {
    padding: 0;
    margin: 0;
    background-color: white;
    user-select: none;
}

.cell-border {
    border: 0.1rem solid #7F7F7F;
}

/* Settings */

.settings h1 {
    color: #363632;
    text-align: center;
    margin: 0;
}

.settings span {
    font-size: 1.3rem;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    border-radius: 1rem;
    align-items: center;
    background-color: rgba(140, 137, 129, 0.116);
    width: 20rem;
    padding: 1rem;
}

.setting-img {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.color-setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.main-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.secondary-settings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.grid-size {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

/* Size slider */

.slider-container {
    width: 15rem;
}

#size {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #262626;
    border-radius: 0.7rem;
    height: 1rem;
}

#size:hover {
    background-color: #A6A198;
}

#size::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.5rem;
    background-color: white;
    border: none;
}

#size::-moz-range-thumb {
    width: 0.8rem;
    height: 0.8rem;
    background-color: white;
    border: none;
}

/* Toggle switch */

.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #262626;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #A6A297;
}
  
input:focus + .slider {
    box-shadow: 0 0 0.3rem #A6A297;
}
  
input:checked + .slider:before {
    transform: translateX(1.5rem);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 2rem;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Buttons */

button {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    border: 0px;
    border-radius: 1rem;
    background-color: #262626;
    color: #F2E205;
    font-size: 1.3rem;
    padding: .3rem 3rem;
    transition: .5s;
    align-items: center;
}

button:hover {
    transform: scale(1.1, 1.1);
    color: white;
}

/* Footer */

.footer {
    display: flex;
    flex-shrink: 0;
    height: 3rem;
    margin-top: 3rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer h2 {
    margin: 0 0.8rem 0 0;
}

/* GitHub animation */
@keyframes githubAnimation {
    0%   {transform: scale(1, 1);}
    25%  {transform: scale(1.5, 0.8);}
    50%  {transform: scale(0.5, 1.1);}
    75%  {transform: scale(1, 0.8);}
    100% {transform: scale(1, 1);}
}

.github-logo:hover {
    position: relative;
    animation-name: githubAnimation;
    animation-duration: 2s;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
    #grid {
        width: 320px;
        height: 320px;
    }
}